## Default CMake gitignore files ##
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


## Add more ##

# Object files
*.o

# Libraries
*.lib

# Executables
*.exe
*.out

# various
*.pdf
*.png
*.csv
*.eps
.vscode

# Build directories
build/
